<!doctype html>
<html lang="ja"> <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ぬるぽガッ</title>
    
    <style>
      .ascii-art {
        font-family: "Mona", "Saitamaar", "MS PGothic", "ヒラギノ角ゴ Pro W3", sans-serif;
        font-size: 16px;
        line-height: 1.2;
        word-wrap: normal;
        white-space: pre;
      }
    </style>
  </head>
  <body>
    
    <pre class="ascii-art">
 ∧＿∧ 
( ´∀｀)＜ぬるぽ
    </pre>

    <pre class="ascii-art">
     （・∀體）   | | ｶﾞｯ
  と    ）    | |
    Ｙ /ノ    人
     / ）    &lt;  &gt;__Λ∩
   ＿/し' ／／. Ｖ｀Д´）/ ←&gt;&gt;1
  （＿フ彡        /
    </pre>
    
  </body>
</html>